# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
/staticfiles/
/media/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
venv/
ENV/
.env.*

# Migrations (оставляем, если нужны для деплоя, иначе можно добавить)
# */migrations/*
# !*/migrations/__init__.py

# Jupyter
*.ipynb_checkpoints

# Git
.git/ 